.Label {
  color: #002d37;
  font-weight: 600;
  margin: 0px 10px 10px 10px;
  align-self: flex-start;
}

.Detail-pane-container {
  height: calc(100vh - 80px);
  width: 50%;
  padding: 60px 40px 20px 1px;
}

.Detail-pane {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  min-height: 100%;
  background: #f6f7fe;
  box-shadow: 2px 2px 5px #cccccc;
  border-radius: 5px;
  margin-bottom: 20px;
  z-index: 2;
}


.Detail-pane-header {
  margin: 20px 20px 0px 20px;
}

.Summary {
    font-size: 20px;
    padding: 0px;
    background: #F6F7FE;
    outline: none;
    overflow: hidden;
    width: 100%;
    resize: none;
    border: none;
    padding: 0px 0px 4px 0px;
    font-size: 1.2rem;
    border-bottom: 2px solid #071f79;
}

.Detail-pane-body {
  overflow: auto;
  height: 100%;
}

.Detail-pane-footer {
  margin: 0px 20px 20px 20px;
  border-top: 2px solid #071f79;
}

button {
  border: none;
  float: right;
  height: 35px;
  width: 75px;
  margin-top: 10px;
  padding: 0px 20px;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 5px #cccccc;
  outline: none;
  transition: transform 0.05s ease-out, box-shadow 0.1s ease-in-out;
}

button:hover {
  box-shadow: 0px 4px 8px #cccccc;
  opacity: 0.8;
}

button:active {
  box-shadow: 0px 1px 2px #cccccc;
  transform: scale(0.9);
}

button:disabled {
  opacity: 0.2;
}

.Save-details {
  background: #39a223;
}

.Debug-key {
    color: lightgray;
    font-size: 0.6rem;
    text-align: right;
    position: absolute;
    font-size: 0.6rem;
    right: 50px;
    top: 60px;
    line-height: 24px;
    text-align: right;
}
