.Step-list-container {
  margin: 30px 20px;
  display: flex;
  flex-direction: column;
}

.Step-list {
  flex: 1 1 auto;
  width: 100%;
  align-self: flex-start;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
}

.Step-container {
  display: flex;
  margin-right: 20px;
}

.Step {
  display: grid;
  grid-template: 20px / auto 16px;
  width: 100%;
  font-size: 0.9rem;
  height: 20px;
  padding: 4px 5px;
  background: white;
  margin: 2px 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  transition: 0.2s linear;
}

.Delete-step {
  float: right;
  font-size: 0.9rem;
  color: #4b6de9;
  opacity: 0.4;
  padding: 0px 0px 0px 5px;
  cursor: default;
  visibility: hidden;
  transition: transform 0.05s ease-out;
}

.Delete-step:hover {
  opacity: 1;
}

.Delete-step:active {
  transform: scale(0.8);
}

.Step:hover .Delete-step {
  visibility: visible;
}

.Step-input {
  resize: none;
  overflow: hidden;
  width: auto;
  font-size: 0.9rem;
  height: 20px;
  padding: 4px 5px;
  background: white;
  margin: 5px 25px 5px 0px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  transition: 0.2s linear;
}

.Step-input:disabled {
  background-color: #eeeeee;
}

.Step-edit {
  resize: none;
  overflow: hidden;
  width: auto;
  font-size: 0.9rem;
  height: 20px;
  padding: 0px 5px;
  border: none;
  transition: 0.2s linear;
}

.Step:disabled,
.Step-edit:disabled {
  background-color: #eeeeee;
}

.Step-input::placeholder {
  color: #cccccc;
  font-style: italic;
}

.Step-input:focus {
  outline: none;
}

.Step-edit:focus {
  outline: none;
}

.Step-checkbox {
  align-self: center;
}
