.Test-case-list-container {
  height: calc(100vh - 80px);
  overflow: auto;
  width: 50%;
  padding: 60px 1px 20px 40px;
}

.Row {
  width: 100%;
  display: grid;
  margin: auto;
  margin-top: 1px;
  padding-right: 4px;
  grid-template: 24px / auto 24px 24px;
  background: white;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px #cccccc;
  border-radius: 2px;
}

.Row:focus-within,
.Selected-row {
  grid-template: auto / auto 24px 24px;
  box-shadow: 20px 0px 0px #f6f7fe, 2px 2px 10px #cccccc;
  background-color: #f6f7fe;
  position: relative;
  z-index: 13;
}

.Hover-over {
  border-top: 25px solid #ecf2f5;
}

@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
  font-family: Nunito;
  font-size: 1rem;
}

.Load-error {
  margin-top: 24px;
  font-size: 1.6rem;
}

.Load-error-button {
  margin-top: 24px;
  float: left;
  background: #071f79;
}

.Test-case-input {
  resize: none;
  overflow: hidden;
  margin-left: 4px;
  width: 100%;
  border: none;
  line-height: 24px;
  padding: 0px 8px 0px 16px;
  box-sizing: border-box;
  font-size: 1rem;
  text-align: left;
  border-radius: 0px 2px 2px 0px;
  cursor: default;
}

.Test-case-input::placeholder {
  color: #cccccc;
  font-style: italic;
}

.Test-case-input:hover {
  box-shadow: -4px 0px 0px rgba(75, 109, 233, 0.5);
}

.Test-case-input:focus,
.Selected-input {
  outline: none;
  box-sizing: border-box;
  box-shadow: -4px 0px 0px rgb(75, 109, 233);
  background-color: #f6f7fe;
  cursor: text;
}

.Delete-row,
.Move-row {
  color: #4b6de9;
  margin: 5px auto;
  opacity: 0.4;
  visibility: hidden;
  cursor: default;
  transition: transform 0.05s ease-out;
}

.Row:hover .Delete-row {
  visibility: visible;
}

.Row:hover .Move-row {
  visibility: visible;
}

.Delete-row:hover,
.Move-row:hover {
  opacity: 1;
}

.Delete-row:active,
.Move-row:active {
  transform: scale(0.8);
}
